/* root */

:root {
    --main-bg-color: #000000;
    --main-font-color: #ffffff;
}

/* global */

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    min-height: 100svh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
    position: relative;
    background-color: var(--main-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-font-color);
    /* padding: 50px 25px; */
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}

main section {
    width: 100%;
    max-width: 700px;
}

.btn-primary {
    border: none;
    background-color: #7CB518;
    border-radius: 10px;
    color: var(--main-font-color);
    font-size: 22px;
    cursor: pointer;
    padding: 1rem;
}

.post {
    padding: 15px;
    margin-bottom: 50px;
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px 0;
    grid-template-areas:
        "userData"
        "photo"
        "description";
}

.user {
    margin-top: 25px;
    padding: 10px 5px;
}

.post a,
.user a {
    text-decoration: none;
    grid-area: userData;
    text-align: center;
    color: var(--main-font-color);
    padding: 5px 0;
    font-size: 22px;
    display: grid;
    justify-items: center;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "userPhoto userName";
}

.post i,
.user i {
    grid-area: userPhoto;
}

.post span,
.user span {
    grid-area: userName;
    justify-self: baseline;
    text-align: left;
}

.post .img {
    grid-area: photo;

    /* temporary */
    width: 100%;
    height: 400px;
    background-color: lightblue;
}

.post p {
    grid-area: description;
    margin-top: 10px;
}

.noUsers__panel {
    grid-column-start: main;
    grid-column-end: users;
}

.profile__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* signIn.php */

.notLoggedIn {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    color: var(--main-font-color);
}

.notLoggedIn img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.notLoggedIn section {
    z-index: 10;
    position: relative;
}

.notLoggedIn section:nth-child(1) {
    color: var(--main-font-color);
    text-align: center;
}

.notLoggedIn section:nth-child(1) h1 {
    font-size: 40px;
}

.notLoggedIn section:nth-child(1) h2 {
    font-size: 28px;
    font-weight: normal;
}

.notLoggedIn section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 35px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, .65);
    color: var(--main-font-color);
    margin: 25px auto;
    padding: 25px 10px;
    box-sizing: border-box;
}

.notLoggedIn section:nth-child(2) h3 {
    margin: 0;
}

.notLoggedIn section:nth-child(2) form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notLoggedIn section:nth-child(2) form label {
    padding: 10px 0 10px 0;
    font-weight: 500;
    display: flex;
    align-self: flex-start;
    max-width: 300px;
    color: var(--main-font-color);
}

.notLoggedIn section:nth-child(2) form input {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    outline: none;
}

.notLoggedIn section:nth-child(2) form button {
    margin-top: 30px;
    width: 180px;
    height: 40px;
    background-color: #7CB518;
    cursor: pointer;
    border: none;
    color: var(--main-font-color);
    font-size: 18px;
    border-radius: 15px;
}

.notLoggedIn section:nth-child(2) form button:hover {
    opacity: 0.8;
}

.notLoggedIn section:nth-child(2) a {
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-font-color);
}

.notLoggedIn section:nth-child(2) a:hover {
    color: #7CB518;
}

.notLoggedIn section:nth-child(2) label.red {
    color: red;
    font-size: 16px;
}

.notLoggedIn section:nth-child(2) #fail {
    color: red
}

.single-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    main {
        width: calc(100% - 125px);
    }

    .notLoggedIn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 25px;
        grid-template-areas:
            "text form";
        justify-items: center;
        align-items: center;
    }

    .notLoggedIn section {
        width: unset;
    }

    .notLoggedIn section:nth-child(1) {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .notLoggedIn section:nth-child(1) h1 {
        font-size: 96px;
    }

    .notLoggedIn section:nth-child(1) h2 {
        font-size: 52px;
    }

    .notLoggedIn section:nth-child(2) {
        grid-area: form;
        max-height: 800px;
        max-width: 500px;
    }

    .notLoggedIn img {
        width: 100vw;
    }
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    opacity: .65;
    z-index: 100;
    position: absolute;
    display: none;
}

/* index.php */

.mainPage h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

/* search.php */

.search form {
    margin: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(125, 125, 125, 0.22);
    display: flex;
    width: clamp(80%, 80%, 400px);
    justify-content: space-between;
    gap: 0;
}

.search form input {
    padding: 5px;
    height: 100%;
    outline: none;
    background: none;
    border: none;
    font-size: 26px;
    width: 90%;
    color: var(--main-font-color);
}

.search form button {
    padding: 5px;
    background-color: blue;
    color: var(--main-font-color);
    border: none;
    height: 100%;
    width: 40px;
    font-size: 24px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.search__results h2 {
    margin-top: 100px;
    font-weight: normal;
    text-align: center;
}

.search .search__results .user {
    border-bottom: 1px solid var(--main-font-color);
}

/* addPhoto.php */

.fileUpload {
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
}

.fileUpload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileUpload label {
    padding: 15px 20px;
    cursor: pointer;
    background-color: blue;
    border-radius: 1rem;
}

.fileUpload input+label {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--main-font-color);
    display: inline-block;
}

.fileUpload input:focus+label,
.fileUpload input+label:hover {
    background-color: red;
}

/* user.php */

.user.noUsers__panel {
    padding: 10px 0;
}

.user .user__img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.user .user__img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.user .user__img_button {
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: var(--main-font-color);
    background-color: #7CB518;
    font-size: 16px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .user__img_button i {
    color: var(--main-font-color);
}

.user .user__data {
    gap: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    width: calc(100% - 30px);
}

.user .user__data .row {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
}

.user .user__data input {
    font-size: 20px;
    padding: .5rem .25rem;
    height: 100%;
    outline: none;
    background-color: rgba(125, 125, 125, 0.22);
    border-radius: 10px;
    border: none;
    text-align: center;
    color: var(--main-font-color);
}

.user.user-otherUser h3 {
    margin-top: 50px;
    font-size: 40px;
}

#changeProfilePhotoForm {
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 150;
    width: 300px;
    height: 325px;
    border-radius: 1rem;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
}

#changeProfilePhotoForm h3 {
    margin-top: 0;
}

#changeProfilePhotoForm .preview {
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

#changeProfilePhotoForm .preview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#changeProfilePhotoForm button {
    margin-top: 25px;
    display: none;
}