.navigation {
    background-color: var(--main-bg-color);
    position: fixed;
    font-size: 30px;
    color: var(--main-font-color);
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 50;
    box-shadow: 0px -1px 10px 0px rgb(255, 255, 255);
}

.navigation nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navigation nav>* {
    z-index: 20;
}

.navigation h2 {
    display: none;
    margin: 20px 0 0;
}

.navigation nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--main-font-color);
    margin: 0 auto;
}

.navigation nav ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin-top: 50px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation nav ul li {
    text-align: center;
    padding: 8px;
    /* margin: 25px auto; */
    max-width: 200px;
    font-size: 20px;
}

.navigation nav ul li a span {
    display: none;
}

@media screen and (min-width: 992px) {
    .navigation {
        top: 0;
        height: 100%;
        width: 300px;
        box-shadow: 1px 0 10px 0px var(--main-font-color);
    }

    .navigation nav ul {
        margin-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navigation nav ul li {
        margin-bottom: 30px;
    }

    .navigation nav ul li.last {
        margin-top: auto;
    }

    .navigation nav ul li a {
        justify-content: flex-start;
        width: 250px;
        font-size: 26px;
    }

    .navigation nav ul li a span {
        display: block;
        margin-left: 20px;
    }
}