.userRecommendations {
    background-color: blue;
    position: fixed;
    font-size: 30px;
    color: white;
    right: 0;
    top: 0;
    height: 500px;
    width: 400px;
    overflow: hidden;
    z-index: 50;
}

.userRecommendations section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.userRecommendations section>* {
    z-index: 20;
}

.userRecommendations section h2 {
    margin: 20px 0 0;
}

.userRecommendations section ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-size: 20px;
}

.userRecommendations section ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

.userRecommendations section ul li {
    text-align: center;
    padding: 8px;
    margin: 25px auto;
    max-width: 200px;
}