.userRecommendations {
    background-color: black;
    position: fixed;
    font-size: 30px;
    color: white;
    right: 0;
    top: 0;
    height: 500px;
    width: 200px;
    overflow: hidden;
    z-index: 50;
    display: none;
    padding: 25px;
}

.userRecommendations section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.userRecommendations section>* {
    z-index: 20;
}

.userRecommendations h2 {
    margin: 20px 0 0;
    font-size: 24px;
    font-weight: normal;
}

.userRecommendations section ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: 25px;
}

.userRecommendations section ul li {
    text-align: center;
    padding: 8px;
    margin: 25px 0;
    max-width: 200px;
}

.userRecommendations section ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-size: 20px;
}

.userRecommendations section ul li a i {
    margin-right: 20px;
}

@media screen and (min-width: 992px) {
    .userRecommendations {
        display: block;
    }
}